<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link
         rel="stylesheet"
         href="{{ url_for('static', filename='css/main.css') }} "
      />
      <script
         src="{{ url_for('static', filename='js/script.js') }} "
         defer
      ></script>
      <title>{% block title %}{% endblock %}</title>
   </head>
   <body>
      <header>
         <nav>
            <ul>
               <li><a href="/">Market App</a></li>
               <li><a href="/">Home</a></li>
               <li><a href="{{ url_for('views.show_market') }}">Market</a></li>
            </ul>
            <ul>
               {% if current_user.is_authenticated %}
               <li>
                  <a href="" class="no-a">
                     Welcome, {{current_user.username}}</a
                  >
               </li>
               <li>
                  <a href="" class="no-a">{{ current_user.frt_budget }} </a>
               </li>
               <li><a href="{{ url_for('views.logout_page') }}">Logout</a></li>
               {% else %}
               <li><a href="{{ url_for('views.show_login') }}">Login </a></li>
               <li>
                  <a href="{{ url_for('views.show_register') }}">Register</a>
               </li>
               {% endif %}
            </ul>
         </nav>
      </header>
      <main>
         {% with messages = get_flashed_messages(with_categories=true) %}
         <!--  -->
         {% if messages %}
         <!--  -->
         {% for ctg, msg in messages %}
         <div class="msg {{ctg}} ">{{ msg }}</div>
         {% endfor %}
         <!--  -->
         {% endif %}
         <!--  -->
         {% endwith %}
         <!--  -->
         {% block main %}{% endblock %}
      </main>
   </body>
</html>
